<link rel="stylesheet" href="../../resources/css/header.css">

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/home">Home</a>
    <a class="navbar-brand" href="/reviews">Reviews</a>
    <div class="align-self-center container">

      <input id="searchQuery" class="form-control mr-sm-2" name="search" type="search" label="Search">
      <form id="searchForm" action="#">      
      </form>
    </div>
  </nav>
  <div class="d-flex justify-content-center">
    <img id="cocktailsDemo" src="../../media/cocktailsDemo.gif">
  </div>

  <div id="drinkResult"><!-- Error Card -->
    <div>
      <div id="errorCard" class="card text-white bg-danger mb-3" style="opacity: 0.7">
        <div class="card-body">
          No data was found
        </div>
      </div>
    </div></div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="../../resources/js/main.js"></script>
<script src="../../resources/js/reviews.js"></script>
<script src="../../resources/js/header.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>