<!DOCTYPE html>
<html lang="en">
<title>Home</title>
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<footer>
  <%- include('../partials/footer'); %>
</footer>


</body>
<!-- <script src='../../resources/js/main.js'></script> -->
</html>