<!DOCTYPE html>
<html lang="en">
<title>Reviews</title>
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">
<header>
  <%- include('../partials/header'); %>
</header>
<div id="reviewsDiv">
     <h3 class="d-flex justify-content-center">Search For Reviews Above!</h3>
</div>

<div id="reviewsTable">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Cocktail</th>
        <th scope="col">Review</th>
        <th scope="col">Review Date</th>
      </tr>
    </thead>
    <tbody id="reviewBody">
      
    </tbody>
  </table>
</div>

<br>
<br>
<br>
<br>


<footer>
  <%- include('../partials/footer'); %>
</footer>


</body>
</html>